; @sas:registry =  https://artifact.unx.sas.com/artifactory/api/npm/re-common-npm-virtual/
; always-auth = true
; make sure you login to the registry
; npm login --registry=https://artifact.unx.sas.com/artifactory/api/npm/re-common-npm-virtual/
;set registry https://artifact.unx.sas.com/artifactory/api/npm/re-common-npm-virtual/
;npm set always-auth true
