<html>
<header>
<title> Component</title>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
<script src="./dist/index.js"></script>
<script type="text/javascript" src="viyaapp/appenv"></script>
<script src="./viyaConnection.js"></script>
<!--  Use the three files below to customize your application -->
<script>
// set your viya host herr */
   console.log(LOGONPAYLOAD);
   const host = LOGONPAYLOAD.host;
   console.log(APPENV);
   console.log(ViyaApp);
</script>
<link rel="stylesheet" href="./App.css">

<script type="text/javascript">
    // setup and display application
    function _display() {
        debugger;
        
        const props = {
            logonPayload: LOGONPAYLOAD,
            appEnv      : APPENV
        }
        // Display application
        console.log(props);
        try {
            ViyaApp.display(props, 'container1');
        } 
        catch(err) {
            console.log(err);
            alert(err);
        }
        return 'done'
    }
</script>

</header>

<body onload="_display()">
    <div id="container1" class="main"> </div>
</div>

</body>






</html>